footer
    .footer
        .container
            .row
                .col-md-8.padding-clear
                    .footer-content
                        .row
                            .col-md-12
                                .footer-logo
                                    img(src='/public/images/footer/mars-logo.png')
                                nav
                                    ul.nav.list-footer.inline-block
                                        li.space-top
                                            a(href='about/company.htm')
                                                | 关于火星人
                                                b |
                                        li.space-top
                                            a(href='content/6310.htm')
                                                | 风险提示函
                                                b |
                                        li.space-top
                                            a(href='node/3784.htm')
                                                | 风险免责条款
                                                b |
                                        li.space-top
                                            a(href='aml-special.htm')
                                                | 反洗钱专栏
                                                b |
                                        li.space-top
                                            a(href="javascript:;")
                                                | 人才招聘 
                                                b |
                                        li.space-top
                                            a(href='about/contact.htm')
                                                | 联系我们
                                                b
                        .row
                            .col-md-12
                                p.footer-copyright  Copyright © 2016 火星人基金 桂ICP备15003644号-2
                .space-bottom.hidden-lg.hidden-xs
                .col-md-4.padding-right-0
                    .footer-content
                        p.footer-guanzhu 扫码关注
                        .gallery.row
                            .gallery-item.col-md-4
                                .qrcode-img
                                    img(src='/public/images/footer/mars-wechat.png')
                                    br
                                    .qr-text.text-center 支付宝服务窗
                            .gallery-item.col-md-4
                                .qrcode-img
                                    img(src='/public/images/footer/mars-wechat.png')
                                    br
                                    .qr-text.text-center 微信订阅号
                            .gallery-item.col-md-4
                                .qrcode-img
                                    img(src='/public/images/footer/mars-wechat.png')
                                    br
                                    .qr-text.text-center 微博
            .row.margin-top-50
                .col-md-12.padding-clear
                    .links-box
                        h6 友情链接
                        nav
                            ul.nav.list-footer.inline-block
                                li.space-top
                                    a(href='') 天天盈 
                                li.space-top
                                    a(href='') 通联支付 
                                li.space-top
                                    a(href="") 宝粉网 
                                li.space-top
                                    a(href="") 中国证券报 
                                li.space-top
                                    a(href="") 上海证券报 
                                li.space-top
                                    a(href="") 证券时报网 
                                li.space-top
                                    a(href="") 和讯基金 
                                li.space-top
                                    a(href="") 新浪财经纵横 
                                li.space-top
                                    a(href="") 好买基金网 
                                li.space-top
                                    a(href="") 全景基金 
                                li.space-top
                                    a(href="") 中国基金网 
                                li.space-top
                                    a(href="") 金牛理财网 
                                li.space-top
                                    a(href="") 交通银行 
                                li.space-top
                                    a(href="") 兴业银行 
                                li.space-top
                                    a(href="") 中国工商银行 
                                li.space-top
                                    a(href="") 中国建设银行 
                                li.space-top
                                    a(href="") 招商银行 
                                li.space-top
                                    a(href="") 中信银行 
            .space-bottom.hidden-lg.hidden-xs
